.detailDiv{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    margin: 9rem 0rem;
    line-height: 25px;
    z-index: 999;
    justify-content: space-between;
}
.smallTitles{
    color:#685dc5;
      font-size:16px;
      font-weight: 500;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    min-width: 320px;
    box-sizing: border-box;
    border-radius: 4px;
}
.section2{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 40px;
}
.durationSpan{
    font-weight: 300;
    font-size: 26px;
    line-height: 35px;
    color: rgb(106, 106, 106);
    letter-spacing: -0.2px;
    margin-bottom: 23px;
}
.widgetText{
    font-weight: 300;
}
hr{
    width: 35px;
    margin: 20px 0;
    border: none;
    height: 1px;
    color: #333; 
    background-color: rgb(106, 106, 106);;
}
.dLine {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(218, 218, 218); 
    line-height: 0.1em;
    margin: 35px 0 35px;
    text-transform: uppercase;

 } 
 
 .dLine span { 
     background:#fff; 
     padding:0 15px; 
     font-weight: 500;
     color: #535353;
 }
.smalltext{
    font-size: 16px;
    font-weight: 300;
}
.row2{
    height: 175px;
}