.cardStyle{
    width: 800px;
    margin: 20px 17px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
    background:white;
}
.reviewDiv::after {
    content: "";
    position: absolute;
    top: 145rem;
    left: 7rem;
    height: 315px;
    width: 85%;
    background: url(https://harbour.space/images/pattern-grid.svg),  50% 50% / 40px;
    border: 1px solid rgb(230, 230, 230);
    z-index: -1;
}
@media only screen and (max-width: 600px) {
    .reviewDiv::after {
        top: 228rem;
        left: 0rem;
        height: 375px;
        width: 100%;
        background: url(https://harbour.space/images/pattern-grid.svg), #685DC5 50% 50% / 40px;
    }
}

.reviewDiv{
    margin-top: 15rem;
}


